
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/_LayoutLogin.cshtml";
}

<h1 class="header-w3ls">
    Bingo
</h1>
<div class="mid-cls">
    <div class="swm-right-w3ls">
        <h2> Ingresa tus credenciales</h2>
        <form action="Verify" method="post">
            <div class="main">
                <div class="form-left-w3l">
                    <input type="text" name="Name" placeholder="Nombre" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-right-w3ls">
                    <input type="password" name="Password" placeholder="Contraseña" required="">
                    <div class="clear"></div>
                </div>
                <div class="left-side">
                 
                </div>
                <div class="btnn">
                    <button type="submit">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="copy">
    <p>
        &copy;2020 Centro Diurno. Todos los derechos reservados |
    </p>
</div>


